* {
    main-bg:            #111718B3;
    main-fg:            #CCF8FFE6;
    main-br:            #516255E6;
    main-ex:            #263938E6;
    select-bg:          #F0C1AA80;
    select-fg:          #523629E6;
}
