* {
    main-bg:            #F6EBC2B3;
    main-fg:            #524929E6;
    main-br:            #A8867EE6;
    main-ex:            #D03127E6;
    select-bg:          #6B4E3A80;
    select-fg:          #FFE0CCE6;
}
