* {
    main-bg:            #191A20B3;
    main-fg:            #CCD3FFE6;
    main-br:            #908175E6;
    main-ex:            #504B4EE6;
    select-bg:          #F0C8AA80;
    select-fg:          #523A29E6;
}
