[Desktop Entry]
Type=Service
MimeType=image/png;image/jpeg;image/jpg;image/gif
Actions=Menu-Refresh;Abyssal-Wave;AbyssGreen;Oxo-Carbon;Pixel-Dream;Catppuccin-Mocha;Paranoid-Sweet;Red-Stone;Scarlet-Night;Solarized Dark;Monokai;Rain-Dark;Greenify;Rosé-Pine;Green-Lush;Tokyo-Night;Graphite-Mono;Sci-fi;Decay-Green;Edge-Runner;Gruvbox-Retro;Synth-Wave;Nordic-Blue;Dracula;One-Dark
X-KDE-Submenu=Set As Wallpaper...

[Desktop Action Menu-Refresh]
Name=.: Refresh List :.
Exec=swwwallkon.sh

[Desktop Action Abyssal-Wave]
Name=Abyssal-Wave
Exec=swwwallkon.sh -t "Abyssal-Wave" -w %u

[Desktop Action AbyssGreen]
Name=AbyssGreen
Exec=swwwallkon.sh -t "AbyssGreen" -w %u

[Desktop Action Oxo-Carbon]
Name=Oxo-Carbon
Exec=swwwallkon.sh -t "Oxo-Carbon" -w %u

[Desktop Action Pixel-Dream]
Name=Pixel-Dream
Exec=swwwallkon.sh -t "Pixel-Dream" -w %u

[Desktop Action Catppuccin-Mocha]
Name=Catppuccin-Mocha
Exec=swwwallkon.sh -t "Catppuccin-Mocha" -w %u

[Desktop Action Paranoid-Sweet]
Name=Paranoid-Sweet
Exec=swwwallkon.sh -t "Paranoid-Sweet" -w %u

[Desktop Action Red-Stone]
Name=Red-Stone
Exec=swwwallkon.sh -t "Red-Stone" -w %u

[Desktop Action Scarlet-Night]
Name=Scarlet-Night
Exec=swwwallkon.sh -t "Scarlet-Night" -w %u

[Desktop Action Solarized Dark]
Name=Solarized Dark
Exec=swwwallkon.sh -t "Solarized Dark" -w %u

[Desktop Action Monokai]
Name=Monokai
Exec=swwwallkon.sh -t "Monokai" -w %u

[Desktop Action Rain-Dark]
Name=Rain-Dark
Exec=swwwallkon.sh -t "Rain-Dark" -w %u

[Desktop Action Greenify]
Name=Greenify
Exec=swwwallkon.sh -t "Greenify" -w %u

[Desktop Action Rosé-Pine]
Name=Rosé-Pine
Exec=swwwallkon.sh -t "Rosé-Pine" -w %u

[Desktop Action Green-Lush]
Name=Green-Lush
Exec=swwwallkon.sh -t "Green-Lush" -w %u

[Desktop Action Tokyo-Night]
Name=Tokyo-Night
Exec=swwwallkon.sh -t "Tokyo-Night" -w %u

[Desktop Action Graphite-Mono]
Name=Graphite-Mono
Exec=swwwallkon.sh -t "Graphite-Mono" -w %u

[Desktop Action Sci-fi]
Name=Sci-fi
Exec=swwwallkon.sh -t "Sci-fi" -w %u

[Desktop Action Decay-Green]
Name=Decay-Green
Exec=swwwallkon.sh -t "Decay-Green" -w %u

[Desktop Action Edge-Runner]
Name=Edge-Runner
Exec=swwwallkon.sh -t "Edge-Runner" -w %u

[Desktop Action Gruvbox-Retro]
Name=Gruvbox-Retro
Exec=swwwallkon.sh -t "Gruvbox-Retro" -w %u

[Desktop Action Synth-Wave]
Name=Synth-Wave
Exec=swwwallkon.sh -t "Synth-Wave" -w %u

[Desktop Action Nordic-Blue]
Name=Nordic-Blue
Exec=swwwallkon.sh -t "Nordic-Blue" -w %u

[Desktop Action Dracula]
Name=Dracula
Exec=swwwallkon.sh -t "Dracula" -w %u

[Desktop Action One-Dark]
Name=One-Dark
Exec=swwwallkon.sh -t "One-Dark" -w %u
