@media {

  :root {
    --zen-colors-primary: #3F4253 !important;
    --zen-primary-color: #9465A3 !important;
    --zen-colors-secondary: #3F4253 !important;
    --zen-colors-tertiary: #1C161E !important;
    --zen-colors-border: #9465A3 !important;
    --toolbarbutton-icon-fill: #9465A3 !important;
    --lwt-text-color: #FFFFFF !important;
    --toolbar-field-color: #FFFFFF !important;
    --tab-selected-textcolor: rgb(176,122,194) !important;
    --toolbar-field-focus-color: #FFFFFF !important;
    --toolbar-color: #FFFFFF !important;
    --newtab-text-primary-color: #FFFFFF !important;
    --arrowpanel-color: #FFFFFF !important;
    --arrowpanel-background: #1C161E !important;
    --sidebar-text-color: #FFFFFF !important;
    --lwt-sidebar-text-color: #FFFFFF !important;
    --lwt-sidebar-background-color: #1C161E !important;
    --toolbar-bgcolor: #3F4253 !important;
    --newtab-background-color: #1C161E !important;
    --zen-themed-toolbar-bg: #1C161E !important;
    --zen-main-browser-background: #1C161E !important;
    --toolbox-bgcolor-inactive: #1C161E !important;
  }

  #permissions-granted-icon{
    color: #1C161E !important;
  }

  .sidebar-placesTree {
    background-color: #1C161E !important;
  }

  #zen-workspaces-button {
    background-color: #1C161E !important;
  }

  #TabsToolbar {
    background-color: #1C161E !important;
  }

  #urlbar-background {
    background-color: #3F4253 !important;
  }

  .content-shortcuts {
    background-color: #1C161E !important;
    border-color: #9465A3 !important;
  }

  .urlbarView-url {
    color: #9465A3 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1C161E !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #1C161E;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #9465A3 !important;
    --identity-icon-color: #9465A3 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}
